{% extends 'base.html' %} {% set title = "Grizzly: CoursePrep" %}
{% block content
%}
<div id="app">
    <div x-show="!isLoggedIn" x-cloak id="messageBox" class="alert alert-warning" role="alert">
        <h5>Alert</h5>
        <div x-html="messageBoxHtml"></div>
    </div>
    <div x-show="isLoggedIn">
        <div x-cloak class="relative z-50 w-full h-auto">
            <div class="display-4 fw-semibold">CoursePrep</div>
            <div class="card">
                <div id="section-card" class="card-body">{% include "coursePrep_section_list.html" %}</div>
            </div>
        </div>
    </div>
    <script>{% include 'app.js' %}</script>
    {% endblock %}