{% include "coursePrep_config.html" %}
<div id="section-list">
    <ul class="list-group list-group-flush">
        {% for section in sections %}
        <li class="list-group-item">
            <div class="row pb-2">
                <div class="col-6">
                    {{ section.course }}
                </div>
                <div class="col-1">
                    {{ section.who_copies }}
                </div>
                <div class="col-2">
                    {{ section.source_course_id }}
                </div>
                <div class="col-2">
                    {{ section.status }}
                </div>
                <button class="btn btn-sm btn-outline-success mt-2" @click="slideOverOpen=true"
                    hx-get="http://localhost:40201/person/{{ person.emplid }}" hx-swap="outer"
                    hx-target="#details-div">Details</button>
                {% endfor %}
            </div>
        </li>
    </ul>