{% include "coursePrep_config.html" %}
<div id="section-list">
    <ul class="list-group list-group-flush">
        {% for section in sections %}
        <li class="list-group-item">
            <div class="row pb-2">
                <div class="col-2">
                    <img src="{{ person.profile_image_url }}"
                        alt="{{ person.first_name }} {{ person.last_name }}'s avatar" class="avatar" />
                </div>
                <div class="col-10">
                    <span class="fw-semibold pb-1">
                        {{ person.first_name }} {{ person.last_name }}
                    </span>
                    <div>
                        <a class="d-inline-block align-top text-truncate" style="max-width: 205px;"
                            href="mailto:{{ person.email }}">{{
                            person.email }}</a><i @click="copyToClipboard('{{ person.email }}')"
                            class="btn btn-sm btn-outline-primary ms-2 bi-clipboard"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"></i>
                    </div>
                    <div>
                        <span>
                            {{person.emplid}}
                        </span>
                        <i @click="copyToClipboard('{{ person.emplid }}')"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                            class="d-inline-block align-top btn btn-sm btn-outline-primary ms-2 bi-clipboard"></i>
                        </i>
                    </div>
                </div>
                <button class="btn btn-sm btn-outline-success mt-2" @click="slideOverOpen=true"
                    hx-get="http://localhost:40201/person/{{ person.emplid }}" hx-swap="outer"
                    hx-target="#details-div">Details</button>
                {% endfor %}
            </div>
        </li>
    </ul>