<form class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="search">Search</label>
            <input id="search" name="search" type="search" value="{{ metadata.searchTerm }}"
                hx-get="http://localhost:40201/course-prep" hx-include="[name='term', name='filter']"
                hx-trigger="keyup changed delay:500ms" hx-target="#section-list" class="form-control" />
        </div>
        <div class="form-group mt-2">
            <label for="term">Term</label>
            <select id="limit" name="limit" class="form-control w-25" x-model="term"
                hx-get="http://localhost:40201/course-prep" hx-include="[name='search', name='filter']"
                hx-target="#section-list">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="term">Filter</label>
            <select id="filter" name="filter" class="form-control w-25" x-model="filter"
                hx-get="http://localhost:40201/course-prep" hx-include="[name='search', name='term']"
                hx-target="#section-list">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="form-group mt-2">
            <ul class="nav nav-underline justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Sections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Task queue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nursing sections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nursing task queue</a>
                </li>
            </ul>
        </div>
    </div>
</form>