{% import "includes/macros.html" as m %}
<form class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="search">Search</label>
            <input id="search" name="search" type="search" value="{{ metadata.searchTerm }}"
                hx-get="http://localhost:40201/person" hx-trigger="keyup changed delay:500ms" hx-target="#person-table"
                hx-include="[name='limit']" class="form-control" />
        </div>
        <div class="form-group mt-2">
            <label for="limit">Records per page</label>
            <select id="limit" name="limit" class="form-control w-25" x-model="limit"
                hx-get="http://localhost:40201/person?page=1" hx-include="[name='search']" hx-target="#person-table">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</form>
<div class="d-flex justify-content-center justify-content-md-end">
    <div>{{ m.pagination(metadata.page, metadata.reachedEnd) }}</div>
</div>
<table class="w-full table-fixed">
    <tbody class="divide-y">
        {% for person in data %}
        <tr>
            <td class="flex items-center py-4 space-x-2">
                <img src="{{ person.profile_image_url }}" alt="{{ person.first_name }} {{ person.last_name }}'s avatar"
                    class="w-11 h-11 rounded-full" />
                <div>
                    {{ person.first_name }} {{ person.last_name }}
                    <div class="flex items-center -mt-2 text-blue-500">
                        <a class="hover:underline" href="mailto:{{ person.email }}">{{ person.email }}</a><i
                            @click="copyToClipboard('{{ person.email }}')"
                            class="p-1 rounded-md transition ease-in-out hover:bg-blue-100 bi-clipboard"></i>
                    </div>
                    <div class="-mt-2 sm:hidden">
                        <span>{{ person.emplid }}</span><i @click="copyToClipboard('{{ person.emplid }}')"
                            class="p-1 text-blue-500 rounded transition ease-in-out hover:bg-blue-100 bi bi-clipboard"></i>
                    </div>
                </div>
            </td>
            <td class="flex hidden flex-col py-2 text-right sm:table-cell">
                <div>
                    <span>{{ person.emplid }}</span><i @click="copyToClipboard('{{ person.emplid }}')"
                        class="p-1 text-blue-500 rounded transition ease-in-out hover:bg-blue-100 bi bi-clipboard"></i>
                </div>
                <button class="p-1 text-sm text-blue-500 rounded-md border border-blue-500 hover:bg-blue-100"
                    @click="slideOverOpen=true" hx-get="http://localhost:40201/person/{{ person.emplid }}"
                    hx-swap="outer" hx-target="#details-div">Details</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-center justify-content-md-end">
    <div>{{ m.pagination(metadata.page, metadata.reachedEnd) }}</div>
</div>
