<div id="details-div">
    {% if contractRecords.length > 0 %}
        <h3 class="text-xl">IPAs</h3>
        <table class="min-w-full divide-y divide-neutral-200">
            <thead>
                <tr class="text-neutral-500">
                    <th class="py-3 px-5 text-xs font-medium text-left uppercase">ID</th>
                    <th class="py-3 px-5 text-xs font-medium text-left uppercase">Course</th>
                    <th class="py-3 px-5 text-xs font-medium text-left uppercase">Request type</th>
                    <th class="py-3 px-5 text-xs font-medium text-right uppercase">Cohort</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-neutral-200">
                {% for contract in contractRecords %}
                    <tr class="text-neutral-800">
                        <td class="py-4 px-5 text-sm font-medium whitespace-nowrap">{{ contract.id }}</td>
                        <td class="py-4 px-5 text-sm whitespace-nowrap">{{ contract.course }}</td>
                        <td class="py-4 px-5 text-sm whitespace-nowrap">{{ contract.request_type }}</td>
                        <td class="py-4 px-5 text-sm whitespace-nowrap">{{ contract.cohort }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if workshopRecords.length > 0 %}
        <h3 class="text-xl">Workshops</h3>
        <table class="min-w-full divide-y divide-neutral-200">
            <thead>
                <tr class="text-neutral-500">
                    <th class="py-3 px-5 text-xs font-medium text-left uppercase">ID</th>
                    <th class="py-3 px-5 text-xs font-medium text-left uppercase">Campus</th>
                    <th class="py-3 px-5 text-xs font-medium text-left uppercase">Workshop</th>
                    <th class="py-3 px-5 text-xs font-medium text-right uppercase">Status</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-neutral-200">
                {% for workshop in workshopRecords %}
                    <tr class="text-neutral-800">
                        <td class="py-4 px-5 text-sm font-medium whitespace-nowrap">{{ workshop.id }}</td>
                        <td class="py-4 px-5 text-sm whitespace-nowrap">{{ workshop.campus }}</td>
                        <td class="py-4 px-5 text-sm whitespace-nowrap">{{ workshop.workshop }}</td>
                        <td class="py-4 px-5 text-sm whitespace-nowrap">{{ workshop.workshop_status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
