{% extends 'base.html' %} {% set title = "Grizzly: Persons" %}
{% block content
    %}
    <div 
         id="app">
        <div x-show="!isLoggedIn"
             x-cloak
             id="messageBox"
             class="alert alert-warning"
             role="alert"
             >
            <h5>Alert</h5>
            <div x-html="messageBoxHtml"></div>
        </div>
        <div x-show="isLoggedIn">
            <div x-cloak class="relative z-50 w-full h-auto">
                <div>
                    <div x-show="slideOverOpen"
                         @keydown.window.escape="slideOverOpen=false"
                         class="relative z-[99]">
                        <div x-show="slideOverOpen"
                             x-transition.opacity.duration.600ms
                             @click="slideOverOpen = false"
                             class="fixed inset-0 bg-black bg-opacity-10"></div>
                        <div class="overflow-hidden fixed inset-0">
                            <div class="overflow-hidden absolute inset-0">
                                <div class="flex fixed inset-y-0 right-0 pl-5 max-w-full">
                                    <div x-show="slideOverOpen"
                                         @click.away="slideOverOpen = false"
                                         x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
                                         x-transition:enter-start="translate-x-full"
                                         x-transition:enter-end="translate-x-0"
                                         x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
                                         x-transition:leave-start="translate-x-0"
                                         x-transition:leave-end="translate-x-full"
                                         class="w-screen max-w-lg">
                                        <div class="flex overflow-y-scroll flex-col py-5 h-full bg-white border-l shadow-lg border-neutral-100/70">
                                            <div class="px-4 sm:px-5">
                                                <div class="flex justify-between items-start pb-1">
                                                    <h2 class="text-2xl font-semibold leading-6 text-gray-900"
                                                        id="slide-over-title">Extended Details</h2>
                                                    <div class="flex items-center ml-3 h-auto">
                                                        <button @click="slideOverOpen=false"
                                                                class="flex absolute top-0 right-0 z-30 justify-center items-center py-2 px-3 mt-4 mr-5 space-x-1 text-xs font-medium uppercase rounded-md border border-neutral-200 text-neutral-600 hover:bg-neutral-100">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 fill="none"
                                                                 viewBox="0 0 24 24"
                                                                 stroke-width="1.5"
                                                                 stroke="currentColor"
                                                                 class="w-4 h-4">
                                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                                            </svg>
                                                            <span>Close</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="relative flex-1 px-4 mt-5 sm:px-5">
                                                <div class="flex flex-col">
                                                    <div class="overflow-x-auto">
                                                        <div class="inline-block min-w-full">
                                                            <div class="overflow-hidden">
                                                                <div id="details-div"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="display-4 fw-semibold">Persons</div>
            <div class="card">
                <div id="person-table" class="card-body">{% include "person_table.html" %}</div>
            </div>
        </div>
    </div>
    <script>{% include 'app.js' %}</script>
{% endblock %}
