{% extends 'base.html' %} {% set title = "Grizzly: Persons" %}
{% block content
    %}
    <div x-data="pageUtils"
         class="container overflow-x-auto p-1 mx-auto mt-4 max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-3xl">
        <div class="mb-5 text-3xl font-semibold mtb-5">Persons</div>
        <div x-cloak
             x-show="showToast"
             class="fixed right-4 bottom-4 p-4 w-72 h-32 rounded transition-transform transform-gpu duration-400 ease bg-slate-700"
             :class="toastType === 'success' ? 'border-l-8 border-green-500' : 'bg-red-400'"
             x-transition:enter-start="translate-y-full"
             x-transition:enter-end="translate-y-0"
             x-transition:leave-start="translate-y-0"
             x-transition:leave-end="translate-y-full">
            <p class="text-white">
                <span class="font-semibold leading-relaxed uppercase" x-text="toastTitle"></span>
            </p>
            <p class="mt-2 text-sm text-white" x-text="toastMessage"></p>
        </div>
        <div class="overflow-auto p-5 bg-white rounded-md border border-gray-300">
            <div class="flex items-center space-x-1 text-lg">
                <label for="name">Search</label>
                <input id="search"
                       name="search"
                       type="search"
                       class="p-1 w-1/2 rounded-sm border border-gray-300 md:w-1/3 form-input" />
            </div>
            <div class="flex justify-end space-x-1">
                {% if page > 1 %}
                    <a href="http://localhost:40201/?page={{ page - 1 }}"
                       class="p-1 text-blue-500 hover:font-semibold hover:underline"><i class="bi bi-arrow-left"></i>Previous</a>
                {% endif %}
                {% if recordCount > 49 %}
                <a href="http://localhost:40201/?page={{ page + 1 }}"
                   class="p-1 text-blue-500 hover:font-semibold hover:underline">Next<i class="bi bi-arrow-right"></i>
            {% endif %}
        </a>
    </div>
    <table class="w-full table-auto">
        <tbody id="person-table" class="divide-y">
            {% for person in data %}
                <tr>
                    <td class="flex py-4 space-x-2">
                        <img src="{{ person.profile_image_url }}"
                             alt="{{ person.first_name }} {{ person.last_name }}'s avatar"
                             class="w-11 h-11 rounded-full">
                        <div>
                            {{ person.first_name }} {{ person.last_name }}
                            <div class="-mt-1 text-sm text-gray-500">
                                {{ person.email }}<span class="ml-1 text-blue-500"><i @click="copyToClipboard('{{ person.email }}')"
   class="p-1 rounded transition ease-in-out hover:bg-gray-100 bi bi-clipboard"></i></span>
                            </div>
                        </div>
                    </td>
                    <td class="py-2 text-right">
                        {{ person.emplid }}<i @click="copyToClipboard('{{ person.emplid }}')"
   class="p-1 ml-1 text-sm text-blue-500 rounded transition ease-in-out hover:bg-gray-100 bi bi-clipboard"></i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="flex justify-end space-x-1">
        <a class="p-1 text-blue-500 hover:font-semibold hover:underline"><i class="bi bi-arrow-left"></i>Previous</a>
    <a class="p-1 text-blue-500 hover:font-semibold hover:underline">Next<i class="bi bi-arrow-right"></i>
</a>
</div>
</div>
</div>
<script>
            document.addEventListener('alpine:init', () => {
                Alpine.data('pageUtils', () => ({
                    showToast: false,
                    toastMessage: '',
                    toastTitle: 'Success',
                    toastType: 'success',
                    async sendNotification(message, opts) {
                        this.toastMessage = message
                        this.showToast = true
                        await new Promise(res => setTimeout(res, 3000))
                        this.showToast = false
                    },
                    async copyToClipboard(value) {
                        await navigator.clipboard.writeText(value)
                        this.sendNotification(`Wrote ${value} to clipboard.`)
                    }
                }))
            })
</script>
{% endblock %}
