@font-face {
  font-family: 'Inter';
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCo3FwrK3iLTcviYwY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+1500-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Inter';
}

[x-cloak] { display: none !important; }

.status-dot-success {
  height: 15px;
  width: 15px;
  background-color: #198754;
  border-radius: 50%;
  display: inline-block;
}

.status-dot-warn {
  height: 15px;
  width: 15px;
  background-color: #ffc107;
  border-radius: 50%;
  display: inline-block;
}

.status-dot-error {
  height: 15px;
  width: 15px;
  background-color: #dc3545;
  border-radius: 50%;
  display: inline-block;
}

.avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

